{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-2 btn-margin">
            <a href="{% url 'create' %}">
                <button class="btn btn-lg btn-primary btn-pmi">Add a Client</button>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">

            <form role="form" method="get" action="{% url 'search' %}">
                <div class="input-group">
                    <input type="text" id="srch" name="search_term" class="form-control" placeholder="Search for...">
                   <span class="input-group-btn"><button type="submit" class="btn btn-lg btn-primary btn-pmi">GO</button></span>
                </div>
            </form>

        </div>
    </div>
    <div class="row">

        {% for client in clients %}


            <div class="col-md-4 col-sm-4 mb">
                <div class="client-block white-panel showback pn">
                    <h3>{{ client.name }}</h3>
                    <hr>
                    <p><i class="fa fa-map-marker"></i>{{ client.address }}</p>
                    <p><i class="fa fa-phone"></i>{{ client.phone }}</p>
                    <p class="text-muted"><i class="fa fa-sticky-note"></i>{{ client.notes|truncatewords:15 }}</p>
                    <p class="pull-right base">
                        <button class="btn btn-primary btn-pmi" onclick="location.href= {{ client.id }}">View/Edit
                        </button>
                    </p>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 btn-margin">
            <a href="{% url 'create' %}">
                <button class="btn btn-lg btn-primary btn-pmi">Add a Client</button>
            </a>
        </div>
    </div>
{% endblock content %}