{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2">
            <h1>Welcome to PM Planner</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2">

                <hr>
                <br>
                <p>Welcome back {{ user.username }}</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="showback col-md-4 col-sm-4 col-md-offset-4">
                <h4><i class="fa fa-angle-right"></i> What would you like to do today?</h4>
                <a href="{% url 'clients' %}">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-pmi"><i class="fa fa-th"></i>MANAGE Clients</button>
                </a>
                <br>
                <a href="{% url 'create' %}">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-pmi"><i class="fa fa-user-plus"></i>ADD a new Client</button>
                </a>
                <br>
                <a href="{% url 'forum' %}">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-pmi"><i class="fa fa-comments"></i>BROWSE the Forum</button>
                </a>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2">

                <hr>
                <p>Please login or register to get the most out of this app</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="showback col-md-4 col-sm-4 col-md-offset-4">
                <h4><i class="fa fa-angle-right"></i> Choose:</h4>
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-pmi">LOGIN</button>
                </a>
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-default btn-lg btn-block">REGISTER</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock content %}