{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta name="google-signin-client_id"
          content="18079445520-8mch9r79c4pqloc27q644ht2um37a7mh.apps.googleusercontent.com">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>PM Planner</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.theme.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style-responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.gritter.css" %}">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {#    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>#}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    {#    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>#}
    <script src="{% static "js/bootstrap-editable.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    {% block head_js %}{% endblock head_js %}


</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Menu"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo"><b>PM Planner</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <ul class="nav top-menu"></ul>

        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                {% if user.is_authenticated %}
                    <li><a class="logout" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                {% else %}
                    <li><a class="logout" href="{% url 'register' %}">Register</a></li>
                    <li><a class="logout" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <!-- **********************************************************************************************************************************************************
         MAIN SIDEBAR MENU
         *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <img src="{% static "img/logo250.png" %}" alt="Private Midwives icon" class="img center-block"
                     width="120">
                {% if request.user.is_authenticated %} <p class="centered">signed in as</p>
                    <h5 class="centered">{{ request.user.username }}</h5>
                {% else %}
                    <p class="centered"><a href="{% url 'login' %}">Login</a></p>{% endif %}

                <li class="mt">
                    <a class="active" href="/">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Client Management</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'clients' %}">Client list</a></li>
                        <li><a href="{% url 'create' %}">Add client</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'forum' %}">
                        <i class="fa fa-comments"></i>
                        <span>Forum</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Documentation</span>
                    </a>
                    <ul class="sub">
                        <li><a href="http://www.privatemidwives.com/midwives-log-in-page/" target="_blank">PM web
                            portal</a></li>
                        <li><a href="http://www.privatemidwives.com/roi-packages-and-prices/" target="_blank">PM
                            pricing</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <section id="main-content">
        <section class="wrapper base-wrapper">

            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="main-window">

                        {#*******************************#}
                        {#    BLOCK CONTENT#}
                        {#*******************************#}

                        {% block content %}
                        {% endblock %}


                        {#End block content#}
                    </div>
                </div>
                <!-- **********************************************************************************************************************************************************
          RIGHT SIDEBAR CONTENT
          *********************************************************************************************************************************************************** -->

                <div class="col-lg-3 ds">


                    {% if request.user.is_authenticated %}
                        <h3>YOUR PROFILE</h3>
                        <div class="white-panel showback pn">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><i class="fa fa-user"></i></td>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-id-card-o"></i></td>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-sign-in"></i></td>
                                    <td>{{ user.last_login }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="text-center">Not you? <a class="logout" href="{% url 'logout' %}"> Log Out <i
                                    class="fa fa-sign-out"></i></a></p>

                        </div>
                    {% endif %}


                    <h3 class="mb">NOTIFICATIONS</h3>

                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    <p> {{ message|safe }} </p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div><!-- /col-lg-3 -->
            </div>
            <!-- /row -->

        </section>

    </section>


    <footer class="site-footer">
        <div class="text-center">

            <span>© Jodie Gardiner 2017 </span>
            <a href="https://github.com/jodiegardiner/pm-planner"><i class="fa fa-github"></i> [Source code]</a>
            <a href="#main-content" class="go-top"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>
</section>


<script class="include" type="text/javascript" src="{% static "js/jquery.dcjqaccordion.2.7.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.scrollTo.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nicescroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/common-scripts.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-inputmask.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-switch.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.backstretch.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.gritter.js" %}"></script>
<script type="text/javascript" src="{% static "js/gritter-conf.js" %}"></script>


</body>
</html>
