{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <form role="form" method="post" id="payment-form" action="{% url 'buy_now_stripe' product.id %}">
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
    </div>
    <legend>Enter payment details</legend>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            {#        <p><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></p>#}
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>€ {{ product.price }}</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            {% csrf_token %}
            {{ form|as_bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            <input class="btn btn-primary btn-pmi" id="submit_payment_btn" name="commit" type="submit"
                   value="Submit Payment">
        </div>
    </div>
    </form>
{% endblock %}
