{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>



    <script type="text/javascript">
         $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Payments processed with Stripe',
            // (string | mandatory) the text inside the notification
            text: 'You can test purchasing items by entering card number 4242424242424242 (16 digits), any 3 digit CVV and any date in the future.',
            // (string | optional) the image to display on the left
            image: 'https://raw.githubusercontent.com/jodiegardiner/pm-planner/master/static/img/logo50.png',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });


    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <form role="form" method="post" id="payment-form" action="{% url 'buy_now_stripe' product.id %}">
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
    </div>
    <legend>Enter payment details</legend>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            {#        <p><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></p>#}
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>€ {{ product.price }}</p>
        </div>
    </div>

    <hr>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            {% csrf_token %}
            {{ form|as_bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            <input class="btn btn-primary btn-pmi" id="submit_payment_btn" name="commit" type="submit"
                   value="Confirm Payment">
        </div>
    </div>
    </form>
{% endblock %}
